body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.home,
.links,
.prices,
.portfolio {
  color: black;
  padding-left: 150px;
}

span {
  font-size: 1.2em;
  color: #a5b4fc;
}

h1 {
  font-family: "Montserrat", serif;
  font-size: 3em;
  color: #a5b4fc;
  margin-top: 0;
}
h2 {
  color: #f9f8ff;
}
p {
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  color: #f9f8ff;
}

ul,
a {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #f9f8ff;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  background-color: white;
  color: #242424;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 40px;
  background-color: white;
  color: #242424;
}

.project {
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
  border-radius: 50px 50px 50px 50px;
  margin: 40px 220px 40px 0px;
  padding: 20px 15px 20px 40px;
}

.skills {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
}

a:hover {
  color: aqua;
}

img:hover {
  opacity: 0.5;
}

.content-two {
  padding: 50px;
  margin: auto;
  background-color: #1f2039;
}

.benefits {
  margin: 20px;
}

.instagram {
  padding-left: 1230px;
}
.twitter {
  padding-right: 40px;
}

.content {
  display: flex;
  padding: 70px 100px 70px 100px;
  background-color: #1f2039;
}

.submission {
  margin-left: 100px;
  margin-right: 200px;
}

h2 {
  font-family: "Montserrat", serif;
  color: #1f2039;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.content-one {
  background-color: #ffffff;
}
.project-photos {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  justify-items: stretch;
  grid-gap: 15px;
}

.link-portfolio {
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
  margin: 40px 630px 40px 630px;
  padding: 20px 40px 20px 40px;
}

.image-robbie {
  margin-right: 100px;
}

.bloc-1 {
  padding: 100px;
  background-color: #1f2039;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
  margin: 0px 300px 0px 200px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
  margin: 0px 300px 100px 200px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-porfolio-1,
.title-porfolio-2 {
  font-family: "Montserrat", serif;
  color: #1f2039;
}

.wallpaper {
  background-color: #1f2039;
}

.portrait-robbie {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  grid-template-rows: 250px 250px;
  gap: 15px;
  padding: 100px 120px 100px 120px;
}

.portrait-robbie img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.paysage {
  position: relative;
}

.hidden-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hidden-text:hover {
  opacity: 1;
  color: #ffffff;
}

.portrait {
  position: relative;
}