.links {
  color: black;
}

span {
  font-size: 1.2em;
  color: #a5b4fc;
}

h1 {
  font-family: "Montserrat", serif;
  font-size: 3em;
  color: #a5b4fc;
}
h2 {
  color: #f9f8ff;
}
p {
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  color: #f9f8ff;
}

ul,
a {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #f9f8ff;
}

.top,
.footer {
  background-color: white;
  color: #242424;
}

body {
  background-color: #1f2039;
}

.project,
.portfolio {
  background: linear-gradient(90deg, #8e86b5, #acaeed);
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
  background-color: red;
}
